{{> header}}
<div class="gb-wrapper">
    <div class="gb-404">
        <p class="gb-404-title">{{msg}}</p>
        <a href="http://www.garbarino.com">Continuar comprando</a>
        <div style="display:none">{{ex}}</div>
    </div>
</div>
{{> footer}}
