<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokedex - Service Workers</title>
  </head>
  <body>
    <div class="poke-search">
      <p>Search by Pokemon number</p>
      <form  action="pokemon" method="get">
        <input type="text" name="pokemonId">
        <input type="submit" value="Search">
      </form>

    </div>
  </body>
</html>
