<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokedex - Service Workers</title>
  </head>
  <body>
    Soy el Pokemon: {{pokemonId}}

    <script src="/src/js/test.js"></script>
  </body>
</html>
